<p>order-details-for-sender works!</p>
<header></header>
<div name="container">
<!--a button to go back to the orders table:-->
<button name="backToOrders" id="backToOrders" >Back to all the orders</button><!--(click)=""-->
<div name="orderDetails">
    כתובת:<span name="adressToSupply" id="adressToSupply">no data is available</span>
    שם:<span name="nameOfCostumer" id="nameOfCostumer">no data is available</span>
    טלפון:<span name="phoneNumOfCostumer" id="phoneNumOfCostumer">no data is available</span>
    זמן:<span name="timeToSupply" id="timeToSupply">no data is available</span>
</div>
<!--a button to aprove the delivery. suppose to let the server know the order is done and delivered. (should we check if it was delivered in time, and let the manager to know?)-->
<button name="aproveDelivering" id="aproveDelivering">I delivered the order successfuly</button><!--(click)=""-->
</div>
<footer></footer>