<p>order-details-for-baker works!</p>
<header></header>
<div name="conatainer">
    <button name="backToOrders" id="backToOrders" >חזרה להזמנות</button><!--(click)=""-->
    <h2>:מוצרים בסל</h2>
    <table mat-table [dataSource]="basket" name="basketTable">
        <!--"productName","productAmount","status","timeCalculation","watchRecipeBtn"-->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>  
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>      
        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>Product's name</th>
            <td mat-cell *matCellDef="let product">{{product.productName}}/td>
        </ng-container>       
        <ng-container matColumnDef="productAmount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let product">{{product.productAmount}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Product's Status</th>
            <td mat-cell *matCellDef="let product">{{product.status}}</td>
        </ng-container>
        <ng-container matColumnDef="timeCalculation">
            <!--what is the exact value supposed to be here? I don't remember. To ask Tehila!!!-->
            <th mat-header-cell *matHeaderCellDef>Time needed</th>
            <td mat-cell *matCellDef="let product"><span name="timeCalculation" id="timeCalculation"><!--calling some function to fill the value--></span></td>
        </ng-container>
        <ng-container matColumnDef="watchRecipeBtn">
            <th mat-header-cell *matHeaderCellDef>Watch recipe</th>
            <td mat-cell *matCellDef="let product"><button name="watchRecipeBtn" id="watchRecipeBtn">Watch Product's Recipe</button></td><!--(click)="someFunctionWhichGoesToThePage"-->
        </ng-container>
    </table>
</div>
<footer></footer>