<p>workers-home-page works!</p>
<br/>
<header></header>
<div name="comtent">
    <h2>:הזמנות</h2>    
    <table mat-table [dataSource]="orders" name="tableOrdersWorker">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Order's Code</th>
            <td mat-cell *matCellDef="let order"><a href="">{{order.code}}</a></td>
        </ng-container>
        <ng-container matColumnDef="DateOfSupply">
            <th mat-header-cell *matHeaderCellDef>Supply Date</th>
            <td mat-cell *matCellDef="let order">{{order.supplyDate}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Order's Status</th>
            <td mat-cell *matCellDef="let order">{{order.status}}</td>
        </ng-container>
    </table>
    <!--<ng-container matColumnDef="score">
  <th mat-header-cell *matHeaderCellDef> Score </th>
  <td mat-cell *matCellDef="let user"> {{user.score}} </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
לא עובד!!!!!!!! צריך לבדוק-->
</div>
<footer></footer>
