<p>watch-recipe works!</p>
<header></header>
<div name="container">
<button name="backToBasket" id="backTobasket">חזרה לסל</button>
<h2>:המתכון הוא</h2>
<p name="recipe" id="recipe">
    
</p>
</div>
<footer></footer>